<div class="container__main d-flex justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-center">
        <div>
            <img src="../../../../assets/images/platziconf-logo.svg" alt="logo">
            <h1>print your badges</h1>
            <p>the easiest way to manage you <br /> conference</p>
            <div class="text-right">
                <a 
                    class="btn btn-primary"
                    [routerLink]="['/badges']"
                >
                    Start now
                </a>
            </div>
        </div>
        <div class="ml-5">
            <img src="../../../../assets/images/astronauts.svg" alt="astronauts">
        </div>
    </div>
</div>