<div class="Badge animate__animated animate__fadeInLeft">
    <div class="Badge__header">
        <img 
            src="../../../assets/images/badge-header.svg" 
            alt="logoplatziconf"
        >
    </div>

    <div class="Badge__section-name">
        <img 
            class="Badge__avatar" 
            src="https://www.gravatar.com/avatar?d=identicon" 
            alt="avatar"
        >
        <h1 class="text-capitalize">{{name}}<br> {{lastName}}</h1>
    </div>

    <div class="Badge__section-info">
        <h3 class="text-capitalize">{{job}}</h3>
        <div>@{{twitter}}</div>
    </div>

    <div class="Badge__footer">
        #PlatziConf
        <!-- <button 
            class="btn btn-primary"
            (click)="handleClick('enviado de html')"    
        >
            Click
        </button> -->
    </div>
</div>