<section>
    <div class="Bages">
        <div class="Badges__hero">
            <div class="Badges__container">
                <img src="../../../../assets/images/badge-header.svg" alt="platzi logo" class="Badges_conf-logo">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="Badges__container">
        <div class="Badges__buttons">
            <a [routerLink]="['/badge/new']" class="btn btn-primary">
                New Badge
            </a>
        </div>
    </div>

    <div class="Badges__list">
        <div class="Badges__container">
            <ng-container *ngIf="(badges$ | async)?.payload; else showSkeleton">
                <ul style="list-style-type: none;">
                    <app-badge-list
                    *ngFor="let badge of (badges$ | async)?.payload"
                    [name]="badge.name"
                    [lastName]="badge.lastName"
                    [twitter]="badge.twitter"
                    [job]="badge.job"
                    [_id]="badge._id"
                    ></app-badge-list>
                </ul>
            </ng-container>
            
            <ng-template #showSkeleton>
                <app-skeleton
                    [repeat]="5" 
                ></app-skeleton>
            </ng-template>
        </div>
    </div>
</section>



<!-- <div *ngFor="let item of (badges$ | async)?.payload">
            Prueba
        </div>
        <div *ngIf="!(badges$ | async)?.payload">
            <div class="card .bg-white w-50" style="margin: 0 auto;">
                <div class="card-body">
                    <ngx-skeleton-loader count="5" animation="progress-dark"></ngx-skeleton-loader>
                </div>
            </div>
    </div> -->