<div class="Navbar">
    <div class="container-fluid d-flex align-items-center">
        <a [routerLink]="['/home']" class="Navbar__brand">
            <img class="Navbar__brand-logo" src="../../../assets/images/logo.svg" alt="logo" />
            <span class="font-weight-light">Platzi</span>
            <span class="font-weight-bold">Conf</span>
        </a>
        <a [routerLink]="['/badges']" routerLinkActive="router-link-active" class="ml-3 p-1 item-brand" >
            <span class="font-weight-bold">Badges List</span>
        </a>
    </div>
</div>